In [1]:
# Resources
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df_2020 = pd.read_csv('Resources/FF_Stats_2020.csv')
df_2020.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry,TEN,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0
1,2,Alvin Kamara,NOR,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0
2,3,Dalvin Cook,MIN,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0
3,4,Davante Adams,GNB,WR,28,14,14,0,0,0,0,0,0,0,NaN,0,149,115,1374,11.95,18,1,1,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0
4,5,Travis Kelce,KAN,TE,31,15,15,1,2,4,0,0,0,0,NaN,0,145,105,1416,13.49,11,1,1,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0

In [4]:
df_2020["Year"] = '2020'
df_2020.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Year
0,1,Derrick Henry,TEN,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0,2020
1,2,Alvin Kamara,NOR,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0,2020
2,3,Dalvin Cook,MIN,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0,2020
3,4,Davante Adams,GNB,WR,28,14,14,0,0,0,0,0,0,0,NaN,0,149,115,1374,11.95,18,1,1,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0,2020
4,5,Travis Kelce,KAN,TE,31,15,15,1,2,4,0,0,0,0,NaN,0,145,105,1416,13.49,11,1,1,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0,2020

In [5]:
df_2020.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank', 'Year'],
      dtype='object')

In [6]:
df_2020 = df_2020[['Rk', 'Player', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank']]
df_2020.head()

,Rk,Player,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry,TEN,2020,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0
1,2,Alvin Kamara,NOR,2020,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0
2,3,Dalvin Cook,MIN,2020,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0
3,4,Davante Adams,GNB,2020,WR,28,14,14,0,0,0,0,0,0,0,NaN,0,149,115,1374,11.95,18,1,1,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0
4,5,Travis Kelce,KAN,2020,TE,31,15,15,1,2,4,0,0,0,0,NaN,0,145,105,1416,13.49,11,1,1,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0

In [7]:
df_2020 = df_2020.set_index('Player')
df_2020.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Derrick Henry,1,TEN,2020,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0
Alvin Kamara,2,NOR,2020,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0
Dalvin Cook,3,MIN,2020,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0
Davante Adams,4,GNB,2020,WR,28,14,14,0,0,0,0,0,0,0,NaN,0,149,115,1374,11.95,18,1,1,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0
Travis Kelce,5,KAN,2020,TE,31,15,15,1,2,4,0,0,0,0,NaN,0,145,105,1416,13.49,11,1,1,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0

In [8]:
df_2019 = pd.read_csv('Resources/FF_Stats_2019.csv')
df_2019.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey,CAR,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,142,116,1005,8.66,4,1,0,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson,BAL,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,0,0,0,NaN,0,9,2,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
2,3,Derrick Henry,TEN,RB,25,15,15,0,0,0,0,0,303,1540,5.08,16,24,18,206,11.44,2,5,3,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,0,0,236,1084,4.59,16,68,49,474,9.67,3,3,2,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott,DAL,RB,24,16,16,0,0,0,0,0,301,1357,4.51,12,71,54,420,7.78,2,3,2,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0

In [9]:
df_2019["Year"] = '2019'
df_2019.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Year
0,1,Christian McCaffrey,CAR,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,142,116,1005,8.66,4,1,0,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0,2019
1,2,Lamar Jackson,BAL,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,0,0,0,NaN,0,9,2,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0,2019
2,3,Derrick Henry,TEN,RB,25,15,15,0,0,0,0,0,303,1540,5.08,16,24,18,206,11.44,2,5,3,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0,2019
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,0,0,236,1084,4.59,16,68,49,474,9.67,3,3,2,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0,2019
4,5,Ezekiel Elliott,DAL,RB,24,16,16,0,0,0,0,0,301,1357,4.51,12,71,54,420,7.78,2,3,2,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0,2019

In [10]:
df_2019 = df_2019[['Rk', 'Player', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank']]
df_2019.head()

,Rk,Player,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey,CAR,2019,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,142,116,1005,8.66,4,1,0,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson,BAL,2019,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,0,0,0,NaN,0,9,2,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
2,3,Derrick Henry,TEN,2019,RB,25,15,15,0,0,0,0,0,303,1540,5.08,16,24,18,206,11.44,2,5,3,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones,GNB,2019,RB,25,16,16,0,0,0,0,0,236,1084,4.59,16,68,49,474,9.67,3,3,2,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott,DAL,2019,RB,24,16,16,0,0,0,0,0,301,1357,4.51,12,71,54,420,7.78,2,3,2,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0

In [11]:
df_2019 = df_2019.set_index('Player')
df_2019.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Christian McCaffrey,1,CAR,2019,RB,23,16,16,0,2,0,0,0,287,1387,4.83,15,142,116,1005,8.66,4,1,0,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
Lamar Jackson,2,BAL,2019,QB,22,15,15,265,401,3127,36,6,176,1206,6.85,7,0,0,0,NaN,0,9,2,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
Derrick Henry,3,TEN,2019,RB,25,15,15,0,0,0,0,0,303,1540,5.08,16,24,18,206,11.44,2,5,3,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
Aaron Jones,4,GNB,2019,RB,25,16,16,0,0,0,0,0,236,1084,4.59,16,68,49,474,9.67,3,3,2,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
Ezekiel Elliott,5,DAL,2019,RB,24,16,16,0,0,0,0,0,301,1357,4.51,12,71,54,420,7.78,2,3,2,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0

In [12]:
df_2018 = pd.read_csv('Resources/FF_Stats_2018.csv')
df_2018.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Todd Gurley,LAR,RB,24,14,14,0,0,0,0,0,256,1251,4.89,17,81,59,580,9.83,4,1,1,21,3.0,NaN,313.0,372.1,379.1,342.6,178.0,1,1.0
1,2,Saquon Barkley,NYG,RB,21,16,16,0,0,0,0,0,261,1307,5.01,11,121,91,721,7.92,4,0,0,15,1.0,NaN,295.0,385.8,391.8,340.3,159.0,2,2.0
2,3,Christian McCaffrey,CAR,RB,22,16,16,1,1,50,1,0,219,1098,5.01,7,124,107,867,8.10,6,4,1,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0
3,4,Alvin Kamara,NOR,RB,23,15,13,0,0,0,0,0,194,883,4.55,14,105,81,709,8.75,4,1,0,18,3.0,NaN,273.0,354.2,360.2,313.7,138.0,4,4.0
4,5,Patrick Mahomes,KAN,QB,23,16,16,383,580,5097,50,12,60,272,4.53,2,0,0,0,NaN,0,9,2,2,1.0,NaN,417.0,417.1,437.1,429.1,134.0,1,5.0

In [13]:
df_2018["Year"] = '2018'
df_2018.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Year
0,1,Todd Gurley,LAR,RB,24,14,14,0,0,0,0,0,256,1251,4.89,17,81,59,580,9.83,4,1,1,21,3.0,NaN,313.0,372.1,379.1,342.6,178.0,1,1.0,2018
1,2,Saquon Barkley,NYG,RB,21,16,16,0,0,0,0,0,261,1307,5.01,11,121,91,721,7.92,4,0,0,15,1.0,NaN,295.0,385.8,391.8,340.3,159.0,2,2.0,2018
2,3,Christian McCaffrey,CAR,RB,22,16,16,1,1,50,1,0,219,1098,5.01,7,124,107,867,8.10,6,4,1,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0,2018
3,4,Alvin Kamara,NOR,RB,23,15,13,0,0,0,0,0,194,883,4.55,14,105,81,709,8.75,4,1,0,18,3.0,NaN,273.0,354.2,360.2,313.7,138.0,4,4.0,2018
4,5,Patrick Mahomes,KAN,QB,23,16,16,383,580,5097,50,12,60,272,4.53,2,0,0,0,NaN,0,9,2,2,1.0,NaN,417.0,417.1,437.1,429.1,134.0,1,5.0,2018

In [14]:
df_2018 = df_2018[['Rk', 'Player', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank']]
df_2018.head()

,Rk,Player,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Todd Gurley,LAR,2018,RB,24,14,14,0,0,0,0,0,256,1251,4.89,17,81,59,580,9.83,4,1,1,21,3.0,NaN,313.0,372.1,379.1,342.6,178.0,1,1.0
1,2,Saquon Barkley,NYG,2018,RB,21,16,16,0,0,0,0,0,261,1307,5.01,11,121,91,721,7.92,4,0,0,15,1.0,NaN,295.0,385.8,391.8,340.3,159.0,2,2.0
2,3,Christian McCaffrey,CAR,2018,RB,22,16,16,1,1,50,1,0,219,1098,5.01,7,124,107,867,8.10,6,4,1,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0
3,4,Alvin Kamara,NOR,2018,RB,23,15,13,0,0,0,0,0,194,883,4.55,14,105,81,709,8.75,4,1,0,18,3.0,NaN,273.0,354.2,360.2,313.7,138.0,4,4.0
4,5,Patrick Mahomes,KAN,2018,QB,23,16,16,383,580,5097,50,12,60,272,4.53,2,0,0,0,NaN,0,9,2,2,1.0,NaN,417.0,417.1,437.1,429.1,134.0,1,5.0

In [15]:
df_2018 = df_2018.set_index('Player')
df_2018.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Todd Gurley,1,LAR,2018,RB,24,14,14,0,0,0,0,0,256,1251,4.89,17,81,59,580,9.83,4,1,1,21,3.0,NaN,313.0,372.1,379.1,342.6,178.0,1,1.0
Saquon Barkley,2,NYG,2018,RB,21,16,16,0,0,0,0,0,261,1307,5.01,11,121,91,721,7.92,4,0,0,15,1.0,NaN,295.0,385.8,391.8,340.3,159.0,2,2.0
Christian McCaffrey,3,CAR,2018,RB,22,16,16,1,1,50,1,0,219,1098,5.01,7,124,107,867,8.10,6,4,1,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0
Alvin Kamara,4,NOR,2018,RB,23,15,13,0,0,0,0,0,194,883,4.55,14,105,81,709,8.75,4,1,0,18,3.0,NaN,273.0,354.2,360.2,313.7,138.0,4,4.0
Patrick Mahomes,5,KAN,2018,QB,23,16,16,383,580,5097,50,12,60,272,4.53,2,0,0,0,NaN,0,9,2,2,1.0,NaN,417.0,417.1,437.1,429.1,134.0,1,5.0

In [16]:
df_2017 = pd.read_csv('Resources/FF_Stats_2017.csv')
df_2017.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Todd Gurley,LAR,RB,23,15,15,0,0,0,0,0,279,1305,4.68,13,87,64,788,12.31,6,5,2,19,NaN,NaN,319.0,383.3,391.3,351.3,192.0,1,1.0
1,2,Le'Veon Bell,PIT,RB,25,15,15,0,0,0,0,0,321,1291,4.02,9,106,85,655,7.71,2,3,2,11,NaN,NaN,257.0,341.6,349.6,299.1,130.0,2,2.0
2,3,Kareem Hunt,KAN,RB,22,16,16,0,0,0,0,0,272,1327,4.88,8,63,53,455,8.58,3,1,1,11,NaN,NaN,242.0,295.2,302.2,268.7,115.0,3,3.0
3,4,Alvin Kamara,NOR,RB,22,16,3,0,0,0,0,0,120,728,6.07,8,100,81,826,10.20,5,1,1,14,1.0,NaN,239.0,320.4,327.4,279.9,112.0,4,4.0
4,5,Melvin Gordon,LAC,RB,24,16,16,0,0,0,0,0,284,1105,3.89,8,83,58,476,8.21,4,1,0,12,NaN,NaN,230.0,288.1,294.1,259.1,103.0,5,5.0

In [17]:
df_2017["Year"] = '2017'
df_2017.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Year
0,1,Todd Gurley,LAR,RB,23,15,15,0,0,0,0,0,279,1305,4.68,13,87,64,788,12.31,6,5,2,19,NaN,NaN,319.0,383.3,391.3,351.3,192.0,1,1.0,2017
1,2,Le'Veon Bell,PIT,RB,25,15,15,0,0,0,0,0,321,1291,4.02,9,106,85,655,7.71,2,3,2,11,NaN,NaN,257.0,341.6,349.6,299.1,130.0,2,2.0,2017
2,3,Kareem Hunt,KAN,RB,22,16,16,0,0,0,0,0,272,1327,4.88,8,63,53,455,8.58,3,1,1,11,NaN,NaN,242.0,295.2,302.2,268.7,115.0,3,3.0,2017
3,4,Alvin Kamara,NOR,RB,22,16,3,0,0,0,0,0,120,728,6.07,8,100,81,826,10.20,5,1,1,14,1.0,NaN,239.0,320.4,327.4,279.9,112.0,4,4.0,2017
4,5,Melvin Gordon,LAC,RB,24,16,16,0,0,0,0,0,284,1105,3.89,8,83,58,476,8.21,4,1,0,12,NaN,NaN,230.0,288.1,294.1,259.1,103.0,5,5.0,2017

In [18]:
df_2017 = df_2017[['Rk', 'Player', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank']]
df_2017.head()

,Rk,Player,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Todd Gurley,LAR,2017,RB,23,15,15,0,0,0,0,0,279,1305,4.68,13,87,64,788,12.31,6,5,2,19,NaN,NaN,319.0,383.3,391.3,351.3,192.0,1,1.0
1,2,Le'Veon Bell,PIT,2017,RB,25,15,15,0,0,0,0,0,321,1291,4.02,9,106,85,655,7.71,2,3,2,11,NaN,NaN,257.0,341.6,349.6,299.1,130.0,2,2.0
2,3,Kareem Hunt,KAN,2017,RB,22,16,16,0,0,0,0,0,272,1327,4.88,8,63,53,455,8.58,3,1,1,11,NaN,NaN,242.0,295.2,302.2,268.7,115.0,3,3.0
3,4,Alvin Kamara,NOR,2017,RB,22,16,3,0,0,0,0,0,120,728,6.07,8,100,81,826,10.20,5,1,1,14,1.0,NaN,239.0,320.4,327.4,279.9,112.0,4,4.0
4,5,Melvin Gordon,LAC,2017,RB,24,16,16,0,0,0,0,0,284,1105,3.89,8,83,58,476,8.21,4,1,0,12,NaN,NaN,230.0,288.1,294.1,259.1,103.0,5,5.0

In [19]:
df_2017 = df_2017.set_index('Player')
df_2017.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Todd Gurley,1,LAR,2017,RB,23,15,15,0,0,0,0,0,279,1305,4.68,13,87,64,788,12.31,6,5,2,19,NaN,NaN,319.0,383.3,391.3,351.3,192.0,1,1.0
Le'Veon Bell,2,PIT,2017,RB,25,15,15,0,0,0,0,0,321,1291,4.02,9,106,85,655,7.71,2,3,2,11,NaN,NaN,257.0,341.6,349.6,299.1,130.0,2,2.0
Kareem Hunt,3,KAN,2017,RB,22,16,16,0,0,0,0,0,272,1327,4.88,8,63,53,455,8.58,3,1,1,11,NaN,NaN,242.0,295.2,302.2,268.7,115.0,3,3.0
Alvin Kamara,4,NOR,2017,RB,22,16,3,0,0,0,0,0,120,728,6.07,8,100,81,826,10.20,5,1,1,14,1.0,NaN,239.0,320.4,327.4,279.9,112.0,4,4.0
Melvin Gordon,5,LAC,2017,RB,24,16,16,0,0,0,0,0,284,1105,3.89,8,83,58,476,8.21,4,1,0,12,NaN,NaN,230.0,288.1,294.1,259.1,103.0,5,5.0

In [20]:
df_2016 = pd.read_csv('Resources/FF_Stats_2016.csv')
df_2016.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,David Johnson,ARI,RB,25,16,16,0,0,0,0,0,293,1239,4.23,16,120,80,879,10.99,4,5,3,20,1.0,NaN,328.0,407.8,416.8,367.8,191.0,1,1.0
1,2,Ezekiel Elliott,DAL,RB,21,15,15,0,0,0,0,0,322,1631,5.07,15,39,32,363,11.34,1,5,1,16,NaN,NaN,293.0,325.4,332.4,309.4,156.0,2,2.0
2,3,Aaron Rodgers,GNB,QB,33,16,16,401,610,4428,40,7,67,369,5.51,4,0,0,0,NaN,0,8,4,4,1.0,1.0,380.0,380.0,397.0,387.0,119.0,1,3.0
3,4,LeSean McCoy,BUF,RB,28,15,15,0,0,0,0,0,234,1267,5.41,13,57,50,356,7.12,1,3,0,14,1.0,NaN,248.0,298.3,304.3,273.3,111.0,3,4.0
4,5,Le'Veon Bell,PIT,RB,24,12,12,0,1,0,0,0,261,1268,4.86,7,94,75,616,8.21,2,4,1,9,1.0,NaN,242.0,317.4,324.4,279.9,105.0,4,5.0

In [21]:
df_2016["Year"] = '2016'
df_2016.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Year
0,1,David Johnson,ARI,RB,25,16,16,0,0,0,0,0,293,1239,4.23,16,120,80,879,10.99,4,5,3,20,1.0,NaN,328.0,407.8,416.8,367.8,191.0,1,1.0,2016
1,2,Ezekiel Elliott,DAL,RB,21,15,15,0,0,0,0,0,322,1631,5.07,15,39,32,363,11.34,1,5,1,16,NaN,NaN,293.0,325.4,332.4,309.4,156.0,2,2.0,2016
2,3,Aaron Rodgers,GNB,QB,33,16,16,401,610,4428,40,7,67,369,5.51,4,0,0,0,NaN,0,8,4,4,1.0,1.0,380.0,380.0,397.0,387.0,119.0,1,3.0,2016
3,4,LeSean McCoy,BUF,RB,28,15,15,0,0,0,0,0,234,1267,5.41,13,57,50,356,7.12,1,3,0,14,1.0,NaN,248.0,298.3,304.3,273.3,111.0,3,4.0,2016
4,5,Le'Veon Bell,PIT,RB,24,12,12,0,1,0,0,0,261,1268,4.86,7,94,75,616,8.21,2,4,1,9,1.0,NaN,242.0,317.4,324.4,279.9,105.0,4,5.0,2016

In [23]:
df_2016 = df_2016[['Rk', 'Player', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank']]
df_2016.head()

,Rk,Player,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,David Johnson,ARI,2016,RB,25,16,16,0,0,0,0,0,293,1239,4.23,16,120,80,879,10.99,4,5,3,20,1.0,NaN,328.0,407.8,416.8,367.8,191.0,1,1.0
1,2,Ezekiel Elliott,DAL,2016,RB,21,15,15,0,0,0,0,0,322,1631,5.07,15,39,32,363,11.34,1,5,1,16,NaN,NaN,293.0,325.4,332.4,309.4,156.0,2,2.0
2,3,Aaron Rodgers,GNB,2016,QB,33,16,16,401,610,4428,40,7,67,369,5.51,4,0,0,0,NaN,0,8,4,4,1.0,1.0,380.0,380.0,397.0,387.0,119.0,1,3.0
3,4,LeSean McCoy,BUF,2016,RB,28,15,15,0,0,0,0,0,234,1267,5.41,13,57,50,356,7.12,1,3,0,14,1.0,NaN,248.0,298.3,304.3,273.3,111.0,3,4.0
4,5,Le'Veon Bell,PIT,2016,RB,24,12,12,0,1,0,0,0,261,1268,4.86,7,94,75,616,8.21,2,4,1,9,1.0,NaN,242.0,317.4,324.4,279.9,105.0,4,5.0

In [24]:
df_2016 = df_2016.set_index('Player')
df_2016.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
David Johnson,1,ARI,2016,RB,25,16,16,0,0,0,0,0,293,1239,4.23,16,120,80,879,10.99,4,5,3,20,1.0,NaN,328.0,407.8,416.8,367.8,191.0,1,1.0
Ezekiel Elliott,2,DAL,2016,RB,21,15,15,0,0,0,0,0,322,1631,5.07,15,39,32,363,11.34,1,5,1,16,NaN,NaN,293.0,325.4,332.4,309.4,156.0,2,2.0
Aaron Rodgers,3,GNB,2016,QB,33,16,16,401,610,4428,40,7,67,369,5.51,4,0,0,0,NaN,0,8,4,4,1.0,1.0,380.0,380.0,397.0,387.0,119.0,1,3.0
LeSean McCoy,4,BUF,2016,RB,28,15,15,0,0,0,0,0,234,1267,5.41,13,57,50,356,7.12,1,3,0,14,1.0,NaN,248.0,298.3,304.3,273.3,111.0,3,4.0
Le'Veon Bell,5,PIT,2016,RB,24,12,12,0,1,0,0,0,261,1268,4.86,7,94,75,616,8.21,2,4,1,9,1.0,NaN,242.0,317.4,324.4,279.9,105.0,4,5.0

In [25]:
df_2020.columns

Index(['Rk', 'Tm', 'Year', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank'],
      dtype='object')

In [26]:
df_2020.dtypes

Rk           int64
Tm          object
Year        object
FantPos     object
Age          int64
G            int64
GS           int64
Cmp          int64
Att          int64
Yds          int64
TD           int64
Int          int64
Att.1        int64
Yds.1        int64
Y/A        float64
TD.1         int64
Tgt          int64
Rec          int64
Yds.2        int64
Y/R        float64
TD.2         int64
Fmb          int64
FL           int64
TD.3         int64
2PM        float64
2PP        float64
FantPt     float64
PPR        float64
DKPt       float64
FDPt       float64
VBD        float64
PosRank      int64
OvRank     float64
dtype: object

In [27]:
all_df = [df_2020,df_2019,df_2018,df_2017,df_2016]
merge_df = pd.concat(all_df)
merge_df.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Derrick Henry,1,TEN,2020,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0
Alvin Kamara,2,NOR,2020,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0
Dalvin Cook,3,MIN,2020,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0
Davante Adams,4,GNB,2020,WR,28,14,14,0,0,0,0,0,0,0,NaN,0,149,115,1374,11.95,18,1,1,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0
Travis Kelce,5,KAN,2020,TE,31,15,15,1,2,4,0,0,0,0,NaN,0,145,105,1416,13.49,11,1,1,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0

In [28]:
merge_df.count()

Rk         3016
Tm         3016
Year       3016
FantPos    2734
Age        3016
G          3016
GS         3016
Cmp        3016
Att        3016
Yds        3016
TD         3016
Int        3016
Att.1      3016
Yds.1      3016
Y/A        1597
TD.1       3016
Tgt        3016
Rec        3016
Yds.2      3016
Y/R        2331
TD.2       3016
Fmb        3016
FL         3016
TD.3       3016
2PM         238
2PP         118
FantPt     2676
PPR        2738
DKPt       2737
FDPt       2737
VBD         365
PosRank    3016
OvRank      390
dtype: int64

In [29]:
new_merge_df = merge_df.fillna(0)
new_merge_df.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Derrick Henry,1,TEN,2020,RB,26,16,16,0,0,0,0,0,378,2027,5.36,17,31,19,114,6.00,0,3,2,17,1.0,0.0,314.0,333.1,341.1,323.6,184.0,1,1.0
Alvin Kamara,2,NOR,2020,RB,25,15,10,0,0,0,0,0,187,932,4.98,16,107,83,756,9.11,5,1,0,21,0.0,0.0,295.0,377.8,383.8,336.3,165.0,2,2.0
Dalvin Cook,3,MIN,2020,RB,25,14,14,0,0,0,0,0,312,1557,4.99,16,54,44,361,8.20,1,5,3,17,3.0,0.0,294.0,337.8,346.8,315.8,164.0,3,3.0
Davante Adams,4,GNB,2020,WR,28,14,14,0,0,0,0,0,0,0,0.00,0,149,115,1374,11.95,18,1,1,18,0.0,0.0,243.0,358.4,362.4,300.9,117.0,1,4.0
Travis Kelce,5,KAN,2020,TE,31,15,15,1,2,4,0,0,0,0,0.00,0,145,105,1416,13.49,11,1,1,11,1.0,0.0,208.0,312.8,316.8,260.3,117.0,1,5.0

In [30]:
new_merge_df=new_merge_df.sort_index(ascending=True)
new_merge_df.head()

,Rk,Tm,Year,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,Yds.1,Y/A,TD.1,Tgt,Rec,Yds.2,Y/R,TD.2,Fmb,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
Player,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A.J. Brown,34,TEN,2019,WR,22,16,11,0,0,0,0,0,3,60,20.0,1,84,52,1051,20.21,8,1,0,9,0.0,0.0,165.0,217.1,220.1,191.1,36.0,9,34.0
A.J. Brown,28,TEN,2020,WR,23,14,12,0,0,0,0,0,0,0,0.0,0,106,70,1075,15.36,11,2,1,12,0.0,0.0,178.0,247.5,251.5,212.5,52.0,9,28.0
A.J. Derby,270,2TM,2017,TE,26,11,1,0,0,0,0,0,0,0,0.0,0,40,21,244,11.62,2,1,1,2,0.0,0.0,34.0,55.4,59.4,44.9,0.0,41,0.0
A.J. Derby,381,MIA,2018,TE,27,4,0,0,0,0,0,0,0,0,0.0,0,5,3,48,16.00,1,0,0,1,0.0,0.0,11.0,13.8,13.8,12.3,0.0,75,0.0
A.J. Derby,348,2TM,2016,TE,25,10,3,0,0,0,0,0,0,0,0.0,0,20,16,160,10.00,0,1,1,0,0.0,0.0,14.0,30.0,34.0,22.0,0.0,65,0.0